<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <!-- breadcrumb inner -->
                    <div class="left-content-area">
                        <!-- left content area -->
                        <h1 class="title">Dashboard</h1>
                    </div><!-- //. left content area -->
                    <div class="right-content-area">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Dashboard</li>
                        </ul>
                    </div>
                </div><!-- //. breadcrumb inner -->
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->

<!-- seller dashboard content area start -->
<div class="seller-dashboard-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card dashboard-content-wrapper card-default gray-bg">
                    <div class="card-header">
                        DASHBOARD
                    </div>
                    <div class="mini-card-wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <button (click)="toggleNotification()" class="single-mini-card-item bg-light-blue">
                                    <div class="bg-icon">
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                    <h1 class="title">Notifications</h1>
                                    <div class="counterup">0</div>
                                </button>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <button (click)="toggleProfile()" class="single-mini-card-item bg-light-green">
                                    <div class="bg-icon">
                                        <i class="fas fa-chart-line"></i>
                                    </div>
                                    <h4 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Profile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                                    <div class="counterup">.</div>
                                </button>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <button (click)="toggleOrder()" class="single-mini-card-item bg-light-gray">
                                    <div class="bg-icon">
                                        <i class="fas fa-eye"></i>
                                    </div>
                                    <h4 class="title">Current Orders</h4>
                                    <div class="counterup">1</div>
                                </button>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <button class="single-mini-card-item bg-light-orange">
                                    <div class="bg-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                    <h4 class="title">Total orders</h4>
                                    <div class="counterup">30</div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-wrapper">
                        <div class="row">
                            <div *ngIf="currentOrders" class="col-lg-12">
                                <div class="seller-card">
                                    <div class="card-header">
                                        Current Orders {{currentOrders}}
                                    </div>

                                </div>
                                <div class="sales-cart-area">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Shipping Id</th>
                                                <th>Date of Purchase</th>
                                                <th>Purchase Price</th>
                                                <th>Delivery Day</th>
                                                <th>Delivery Time</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tcontents">
                                        </tbody>
                                    </table>
                                    <!-- <canvas id="chartChart"></canvas> -->
                                </div>
                            </div><!-- display for current Orders-->
                            <div *ngIf="profile" class="col-lg-12">
                                <div class="seller-card">
                                    <div class="card-header">
                                        Current Profile {{profile}}
                                    </div>

                                </div>
                                <div class="sales-cart-area">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Shipping Id</th>
                                                <th>Date of Purchase</th>
                                                <th>Purchase Price</th>
                                                <th>Delivery Day</th>
                                                <th>Delivery Time</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tcontents">
                                        </tbody>
                                    </table>
                                    <!-- <canvas id="chartChart"></canvas> -->
                                </div>
                            </div><!-- display for Profiles-->
                            <div *ngIf="notifications" class="col-lg-12">
                                <div class="seller-card">
                                    <div class="card-header">
                                        Notifications {{notifications}}
                                    </div>

                                </div>
                                <div class="sales-cart-area">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Shipping Id</th>
                                                <th>Date of Purchase</th>
                                                <th>Purchase Price</th>
                                                <th>Delivery Day</th>
                                                <th>Delivery Time</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tcontents">
                                        </tbody>
                                    </table>
                                    <!-- <canvas id="chartChart"></canvas> -->
                                </div>
                            </div><!-- display for Notifications-->
                        </div>
                    </div>
                    <!--END OF DASHBOARD DIV-->
                </div>
            </div>
        </div>
    </div>
    <!-- seller dashboard content area end -->