<!-- feature area home 6 start -->

<div class="feature-area-home-6">

  <div class="container">

      <div class="row">

          <div class="col-lg-4 col-md-6">

             <div class="img-wrapper">

                  <a href="#">

                      <img src="assets/img/banner-add/03.jpg" alt="banner image">

                  </a>

             </div>

          </div>

          <div class="col-lg-4 col-md-6">

              <div class="img-wrapper">

                  <a href="#">

                      <img src="assets/img/banner-add/04.jpg" alt="banner image">

                  </a>

              </div>

          </div>

          <div class="col-lg-4 col-md-6">

             <div class="img-wrapper">

                  <a href="#">

                      <img src="assets/img/banner-add/05.jpg" alt="banner image">

                  </a>

             </div>

          </div>

      </div>

  </div>

</div>






